# Ambientes virtuais
venv/
.venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração do IDE
.idea/

# Arquivos de banco de dados locais
*.db
*.sqlite3

# Scripts de gerenciamento do banco de dados
create_users.py
reset_passwords.py
change_password.py
generate_hashe.py

.env