{% extends 'base.html' %}
{% block title %}Bem-Vindos, WayFinders!{% endblock %}

{% block navbar_brand_element %}
    <span class="navbar-brand navbar-brand-center">
        Uma história contada pelos amigos Warny, Fernanda, Gabriel e Ayanne (G4)
    </span>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 90vh;">
    <div class="interactive-logo-container mb-4">
        </div>
    <p class="lead mb-4">Um diário digital para celebrar nossa jornada de amizade.</p>
    <div><a href="{{ url_for('login') }}" class="btn btn-primary btn-lg" style="background-color: #4E2A84; border-color: #4E2A84;">Acessar a Trilha</a></div>
</div>

<div class="container mt-5 content-section">
    <div class="text-center mb-5">
        <h2 class="section-title">Descrição do Projeto</h2>
        <p class="section-text">
            Este projeto nasceu como um presente: uma celebração digital da nossa jornada e da nossa amizade. O WayFinders é a nossa "estrada do tempo", um diário compartilhado e eterno, construído para que nós quatro possamos registrar cada parada, cada risada e cada momento que define a nossa história. É um espaço vivo, que cresce a cada nova memória adicionada, garantindo que, não importa para onde a vida nos leve, sempre teremos o caminho de volta para as lembranças que nos unem.
        </p>
    </div>

    <div class="text-center mb-5">
        <h2 class="section-title">Sobre o Warny Palhares</h2>
        <div class="about-me-container">
            <img src="{{ url_for('static', filename='images/warny-perfil.jpg') }}" alt="Foto de Warny Palhares" class="profile-photo">
            <div class="about-me-text">
                <p>
                    Com uma carreira consolidada de mais de 20 anos em posições de liderança nos setores de hotelaria e aviação, gerenciei equipes e otimizei operações complexas no Brasil, na Irlanda e agora em Portugal.  Atualmente, estou em uma jornada de transição de carreira, mergulhando de cabeça no universo da Inteligência Artificial e Ciência de Dados.  Dedico minhas horas a aprofundar meus conhecimentos em Python e Machine Learning, desenvolvendo projetos práticos como este, que unem minha paixão por resolver problemas com o poder dos dados.  Meu objetivo é combinar décadas de experiência em gestão e estratégia com novas habilidades técnicas para criar soluções inovadoras e impactantes.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}