{% extends 'base.html' %}
{% block title %}Bem-Vindos, WayFinders!{% endblock %}

{% block navbar_brand_text %}
    WayFinders on a Great Adventure - Uma história contada pelos amigos Warny, Fernanda, Gabriel e Ayanne (G4)
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 90vh;">
    <div class="interactive-logo-container mb-4">
        <div class="logo-part"><span class="logo-name">Way</span><span class="logo-subname">Warny</span><img src="{{ url_for('static', filename='caricaturas/warny.jpg') }}" alt="Caricatura Warny" class="caricature"></div>
        <div class="logo-part"><span class="logo-name">Finders</span><span class="logo-subname">Fernanda</span><img src="{{ url_for('static', filename='caricaturas/fernanda.jpg') }}" alt="Caricatura Fernanda" class="caricature"></div>
        <div class="logo-part"><span class="logo-name">on a Great</span><span class="logo-subname">Gabriel</span><img src="{{ url_for('static', filename='caricaturas/gabriel.jpg') }}" alt="Caricatura Gabriel" class="caricature"></div>
        <div class="logo-part"><span class="logo-name">Adventure</span><span class="logo-subname">Ayanne</span><img src="{{ url_for('static', filename='caricaturas/ayanne.jpg') }}" alt="Caricatura Ayanne" class="caricature"></div>
    </div>
    <p class="lead mb-4">Um diário digital para celebrar nossa jornada de amizade.</p>
    <div><a href="{{ url_for('login') }}" class="btn btn-primary btn-lg" style="background-color: #4E2A84; border-color: #4E2A84;">Acessar a Trilha</a></div>
</div>
{% endblock %}